.input-mcq{
    display: block;
    width: 100%!important;
    font-size: 15px;
    padding: 6px 20px!important;
    line-height: 22px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 22px;
    outline: 0;
}

.input-ans{
    display: block;
    font-size: 15px;
    padding: 6px 20px!important;
    max-height: 30px;
    border-radius: 10px;
    border-width: 0px;
    min-width: 180px;
}

td{
    display: block;
}

.cloze{
    margin-bottom: 10px;
}

button{
    margin-right: 10px!important;
    background-color: #808080;
    color: white!important;
    border: 2px transparent solid;
    border-radius: 22px;
    line-height: 22px;
    padding: 2px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    outline: none!important;
}

button:hover{
    background-color: #a2a2a2!important;
    border-color: #a2a2a2!important;
}

.up-down-button{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none!important;
    border-radius: 20px;
    margin: 0 10px;
}

.item{
    display: flex;
    align-items: center;
}

.up-button{
    background-image: url("../icons/exercise/up.svg");
}

.down-button{
    background-image: url("../icons/exercise/down.svg");
}

.button-choices-add .button-choices-sub {
    background-color: #808080!important;
}