.input-ans{
    display: block;
    font-size: 15px;
    max-height: 30px!important;
    border-radius: 10px;
    border-width: 0;
    min-width: 180px;
    padding: 0 !important;
}

.Select-placeholder{
    border-radius: 15px!important;
}


.wrong{
    padding: 4px 8px;
    border-radius: 10px;
    background-color: orangered;
}

.right{
    padding: 4px 8px;
    border-radius: 10px;
    background-color: lime;
}

.cloze-span{
    display: inline-block;
    margin: 10px 0;
}
