.exercise-div{
    display: inline-block;
}


.user:hover{
    background-color: transparent!important;
    border-color: transparent!important;
}

.user-icon{
    max-width: 50px;
    padding: 0!important;
    max-height: 50px;
}

.user-container{
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1000;
}

.user-text{
    min-height: 40px!important;
    margin-bottom: 10px;
    font-size: 20px;
    vertical-align: center;
}

.tooltip-react{
    max-width: 200px;
    padding-left: 0;
    padding-right: 0;
}

.badge-notify{
    background:red;
    position:relative;
    color: white;
    font-size: 15px!important;
    top: -45px!important;
    left: -25px!important;
}

.user-list{
    font-size: 14px;
    text-align: center;
    max-height: 50px;
    line-height: 50px;
    height: 100%;
}

.exercise-list-container{
    margin: 0!important;
    padding: 3%!important;
    height: 100%;
}

.user-list-button{
    width: 50px!important;
    height: 50px!important;
    background-image: url("../icons/navbar/zoom-neighborhood.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;
    background-color: black!important;
}

.home-container{
    height: auto;
    min-height: 100%;
}
