body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-container{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.main-container{
    overflow-x: scroll;
    margin-top: 50px;
}