body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-container{
    overflow-y: auto;
    flex-grow: 1;
}

.fullScreenMargin, .fullScreenPaddingMargin{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.fullScreenPadding, .fullScreenPaddingMargin{
    padding-left: 0px !important;
    padding-right: 0px !important;
}