body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main-container{
    overflow-y: auto;
    margin-top: 50px;
    flex-grow: 1;
    height: 100%;
}
