.form-group{
    /*margin-top: 20px;*/
}

.choices-div{
    display: inline-block;
    width: 100%;
}

.choices-button{
    width: 100%;
}

.choices-div{
    width: 100%!important;
    min-width: 350px;
    display: inline-block!important;
    margin: 10px;
}

.choices-row{
    display: inline-block;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem!important;
    }
}

.jumbotron{
    margin-bottom: 1rem!important;
    background-color: #dfdfdf!important;
}

.d-flex{
    margin-top: 1rem;
}

.next-button{
    width: 180px;
    text-align: center;
    align-self: center;
    border-radius: 20px!important;
    font-size: 15px!important;
    background-color: #808080!important;
}

#matching-player{
    margin-top: 5%;
    margin-bottom: 5%;
}

.lead {
    font-weight: bold !important;
}

.btn-outline-secondary {
    color: #6c757d!important;
    border-color: #6c757d!important;
}

.box {
    background-color: white;
    border: 1px solid #346789;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    color: black;
    height: 120px;
    width: 140px;
    line-height: 120px;
    padding: 5px;
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    margin-bottom: 20px;
}

.box:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

.question{
    margin-left: 20px;
}

.answer{
    margin-right: 40px;
    position: absolute!important;
    right:0;
}

.matching-answers{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.matching-questions{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}