.form-group{
    width: 100%!important;
}

.form-control{
    width: 100%!important;
    padding: .375rem .75rem!important;
    line-height: 1.5!important;
    background-color: #ffffff!important;
    border: 1px solid #ced4da!important;
    border-radius: .25rem !important;
}

.container-fluid{
    margin-top: 50px;
}

.submit-button{
    margin-right: 10px;
}

.answers{
    width: auto!important;
    min-width: 250px;
    display: inline-block!important;
}

div label{
    margin-right: 10px;
}
