.form-group{
    /*margin-top: 20px;*/
}

.choices-div{
    display: inline-block;
    width: 100%;
}

.choices-button{
    width: 100%;
}

.choices-div{
    width: 100%!important;
    min-width: 350px;
    display: inline-block!important;
    margin: 10px;
}

.choices-row{
    display: inline-block;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem!important;
    }
}

.jumbotron{
    margin-bottom: 1rem!important;
    background-color: #dfdfdf!important;
}

.d-flex{
    margin-top: 1rem;
}

.next-button{
    width: 180px;
    text-align: center;
    align-self: center;
    border-radius: 20px!important;
    font-size: 15px!important;
    background-color: #808080!important;
}

.mcq-container{
    margin-top: 5%!important;
}

.lead {
    font-weight: bold !important;
}

.btn-outline-secondary {
    color: #6c757d!important;
    border-color: #6c757d!important;
}