#main-toolbar #activity-button {
    background-image: url(../icons/activity-icon.svg);
}

#main-toolbar #add-button {
    background-image: url(../icons/add.svg);
}

#main-toolbar #network-button {
    background-image: url(../icons/zoom-home.svg);
}

#private-button {
    background-image: url(../icons/zoom-home.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#shared-button {
    background-image: url(../icons/zoom-neighborhood.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}
