#main-toolbar #activity-button {
    background-image: url(../icons/navbar/activity-icon.svg);
    border: none;
    outline: none;
}

#main-toolbar #add-button {
    background-image: url(../icons/navbar/add.svg);
    outline: none;
}

#main-toolbar #network-button {
    background-image: url(../icons/navbar/zoom-home.svg);
    outline: none;
}

#main-toolbar #home-button {
    background-image: url(../icons/navbar/home.svg);
    background-size: 80%;
    outline: none;
}

#private-button {
    background-image: url(../icons/navbar/zoom-home.svg);
    outline: none;
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#shared-button {
    background-image: url(../icons/navbar/zoom-neighborhood.svg);
    outline: none;
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

.toolbar{
    z-index: 1000;
    width: 100%;
}

#fullscreen-button{
    background-image: url("../icons/navbar/fullscreen.svg");
}

#unfullscreen-button{
    background-image: url("../icons/navbar/unfullscreen.svg");
    background-color: #282828;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 4px 0px;
    z-index: 1000;
    width: 49px;
    height: 49px;
    border-radius: 5.5px;
    color: white;
    position: absolute;
    right: 1%;
}

#help-button {
    background-image: url("../icons/exercise/help.svg");
}

#editor-button {
    background-image: url("../icons/navbar/cog.svg");
    outline: none;
    width: 49px;
    height: 49px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#play-button {
    background-image: url("../icons/navbar/play.svg");
    outline: none;
    width: 49px;
    height: 49px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

.toolbar-hide{
    display: none !important;
}