#main-toolbar #activity-button {
    background-image: url(../icons/activity-icon.svg);
    border: none;
    outline: none;
}

#main-toolbar #add-button {
    background-image: url(../icons/add.svg);
    outline: none;
}

#main-toolbar #network-button {
    background-image: url(../icons/zoom-home.svg);
    outline: none;
}

#main-toolbar #home-button {
    background-image: url(../icons/home.svg);
    background-size: 80%;
    outline: none;
}

#main-toolbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1000;
}

#private-button {
    background-image: url(../icons/zoom-home.svg);
    outline: none;
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#shared-button {
    background-image: url(../icons/zoom-neighborhood.svg);
    outline: none;
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}
