.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card-img-top {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-img-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
}

.background-mcq{
    background: url("../images/mcq_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-cloze{
    background: url("../images/cloze_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-reorder{
    background: url("../images/list_reorder_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.button-choose{
    width: 50%;
    background-color: #808080;
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid transparent;
    border-radius: 22px;
    line-height: 22px;
    padding: 4px 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*.card-body{*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/