#reorder-player{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container{
    margin-bottom: 50px;
}

.list-item{
    user-select: none;
    padding: 16px;
    margin: 0 0 8px 0;
    border-radius:10px;
    text-align:center;
}

.jumbotron {
    background-color: #dfdfdf !important;
}
.lead {
    font-weight: bold !important;
}
