.button-redo{
    width: 60px;
    height: 60px;
    background-image: url("../icons/exercise/redo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
}

.button-redo:hover{
    background-color: limegreen!important;
    border: 2px solid transparent!important;
}

button{
    margin-right: 10px!important;
    background-color: #808080;
    color: white!important;
    border: 2px solid transparent;
    border-radius: 22px;
    line-height: 22px;
    padding: 2px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button-container{
    display: flex;
    flex-direction: row;
    float: right;
}