.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}


.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}


.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/exercise/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon2:hover {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}


.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/exercise/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon2:hover {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}


.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/exercise/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon2:hover {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

#icon-tutorial{
  display: inline-block;
  background-image: url(../icons/exercise/owner-icon.svg);
  background-size: 50px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-left: 5px;
}

.popover {
	cursor: url('../icons/exercise/ArrowSmall.cur'), default;
	position: relative!important;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.846;
	text-align: left;
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	white-space: normal
  }

  .popover.top {
	margin-top: -10px
  }

  .popover.right {
	margin-left: 10px
  }

  .popover.bottom {
	margin-top: 10px
  }

  .popover.left {
	margin-left: -10px
  }

  .popover-navigation{
	padding:9px 14px;
	overflow:hidden;
   }

  .popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 13px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 2px 2px 0 0
  }
  .popover-content {
	padding: 9px 14px
  }
  .popover>.arbootstrap-row, .popover>.arbootstrap-row:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
  }
  .popover>.arbootstrap-row {
	border-width: 11px
  }
  .popover>.arbootstrap-row:after {
	border-width: 10px;
	content: ""
  }
  .popover.top>.arbootstrap-row {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.075);
	bottom: -11px
  }
  .popover.top>.arbootstrap-row:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff
  }
  .popover.right>.arbootstrap-row {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0.075)
  }
  .popover.right>.arbootstrap-row:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff
  }
  .popover.bottom>.arbootstrap-row {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0.075);
	top: -11px
  }
  .popover.bottom>.arbootstrap-row:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff
  }
  .popover.left>.arbootstrap-row {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0.075)
  }
  .popover.left>.arbootstrap-row:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px
  }