/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 50px;
    top: 100px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* General sidebar styles */
.bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    width: 100%;
    height: 100%;
}

.user{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-color: transparent;
}

.user:hover{
    background-color: transparent!important;
    border-color: transparent!important;
}

.user-icon{
    max-width: 50px;
    padding: 0!important;
    max-height: 50px;
    display: inline-block;
}

.user-container{
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1000;
}

.user-text{
    min-height: 40px!important;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 25px
}

.badge-notify{
    background:red;
    position:relative;
    color: white;
    font-size: 15px!important;
    top: -50px;
    left: -30px;
}

.user-list{
    font-size: 14px;
    text-align: center;
    max-height: 50px;
    line-height: 50px;
    height: 100%;
}